<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{{include '/include/head'}}
	<link rel="stylesheet" type="text/css" href="/libs/webuploader/webuploader.css">
	<link rel="stylesheet" href="/css/addEdit.css">
</head>
<body>
<div class="container">
	<form method="post" action="/admin/movie/add" class="form-horizotal" enctype="multipart/form-data" id="form-movie">
		<div class="input-group">
			<span class="input-group-addon">豆瓣同步</span>
			<input type="text" class="form-control" id="douban" name="movie[did]" placeholder="豆瓣电影id" value="{{movie.did}}">
		</div>
		<div class="input-group">
			<span class="input-group-addon">电影名</span>
			<input type="text" required class="form-control" name="movie[title]" id="title" placeholder="电影名称" value="{{movie.title}}">
		</div>
		<div class="input-group">
			<span class="input-group-addon">导演</span>
			<input type="text" required class="form-control" name="movie[director]" id="director" placeholder="导演" value="{{movie.director}}">
		</div>
		<div class="input-group">
			<span class="input-group-addon">主演</span>
			<input type="text" required class="form-control" name="movie[actors]" id="actors" placeholder="主演" value="{{movie.actors}}">
		</div>
		<div class="input-group">
			<span class="input-group-addon">语言</span>
			<input type="text" class="form-control" name="movie[language]" id="language" placeholder="语言" value="{{movie.language}}">
		</div>
		<div class="input-group">
			<span class="input-group-addon">国家</span>
			<input type="text" class="form-control" name="movie[country]" id="country" placeholder="国家" value="{{movie.country}}">
		</div>
		<div class="input-group">
			<span class="input-group-addon">电影分类</span>
			<select class="form-control" name="movie[category]" id="category">
				<option value="">请选择分类</option>
				{{if categorys && categorys.length}}
				{{each categorys}}
				<option value="{{$value.id}}" {{if movie.category == $value.id}}selected{{/if}}>{{$value.name}}</option>
				{{/each}}
				{{/if}}
			</select>
		</div>
		<div class="post-wrap">
			<div id="uploader-demo">
			    <div id="fileList" class="uploader-list"></div>
			    <div id="filePicker">上传封面</div>
			</div>
			<div class="input-group">
				<span class="input-group-addon">封面图片</span>
				<input type="text" class="form-control" name="movie[poster]" id="poster" placeholder="封面图片,可填写图片链接或上传一张图片" value="{{movie.poster}}">
			</div>
		</div>
		<!--<div class="form-group">
			<label for="uploadPoster">封面上传</label>
			<input type="file" id="uploadPoster" name="uploadPoster">
		</div>-->
		<div class="input-group">
			<span class="input-group-addon">下载地址</span>
			<input type="text" class="form-control" name="movie[flash]" id="flash" placeholder="下载地址" value="{{movie.flash}}">
		</div>
		<div class="input-group">
			<span class="input-group-addon">上映时间</span>
			<input type="text" class="form-control" name="movie[year]" id="year" placeholder="上映时间" value="{{movie.year}}">
		</div>
		<div class="input-group">
			<span class="input-group-addon">剧情简介</span>
			<textarea class="form-control" name="movie[summary]" id="summary" placeholder="剧情简介">{{movie.summary}}</textarea>
		</div>
		{{if movie.id}}
		<input type="hidden" name="movie[_id]" value="{{movie.id}}">
		{{/if}}
		<button type="submit" class="btn btn-primary" id="submitForm"><i class="fa fa-save"></i>{{if movie.id}}保存并修改{{else}}保存并添加{{/if}}</button>
	</form>
</div>
<script type="text/javascript" src="/libs/webuploader/webuploader.min.js"></script> 
<script type="text/javascript" src="/js/addEdit.js"></script>
</body>
</html>