<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{{include '/include/head'}}
	<link rel="stylesheet" href="/css/error.css">
</head>
<body>
	<div id="container">
		<p><img class="img-auto" src="/images/404/404.png" /></p>
		<p><img class="img-auto msg" src="/images/404/404_msg.png" /></p>
		<p><a href="/"><img class="return" src="/images/404/404_to_index.png" /></a> </p>
	</div>
	<div id="cloud" class="png"></div>
	<script type="text/javascript">
		$('body').height($(window).height());
	</script>
</body>
</html>
