<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{{include '/include/head'}}
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/list.css">
</head>
<body>
<div class="list-container">
	<table class="table table-list">
		<thead>
			<tr class="table-title">
				<th scope="col" colspan="4">{{title}}</th>
			</tr>
			<tr class="table-header">
				<th width="10%">ID</th>
				<th width="60%">用户名</th>
				<th width="30%">角色</th>
			</tr>
		</thead>
		<tbody>
			{{if users.length}}
        	{{each users as user index}}
        	<tr>
        		<td>{{index + 1}}</td>
        		<td>{{user.name}}</td>
        		<td>
        			{{if user.role<10}}
        				<span class="label label-success">普通用户</span>
        			{{else if user.role>=10&&user.role<50}}
        				<span class="label label-warning">管理员</span>
        			{{else if user.role>=50}}
        				<span class="label label-danger">超级管理员</span>
        			{{/if}}
        		</td>
        	</tr>
        	{{/each}}
        	{{else}}
        	<tr>
        		<td colspan="3">暂无记录</td>
        	</tr>
        	{{/if}}
		</tbody>
	</table>
</div>

<script type="text/javascript" src="/libs/layer/layer.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/js/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/js/list.js"></script>
</body>
</html>